@charset "utf-8";
body{
    height: 100%;
}


body{
    width: 0vw;
}

menu{
    display: none;
}

.bil{
    position: relative;
    width: 459px;
    height: 400px;

    left: 1px;
}
header{
    height: 70px;
    width: 460px;
}
header > h1{
    
position: relative;

left: -60px;
top: 10px;
}
.header-h1{
font-size: .9em;
text-align: left;
}
.pala{
    text-align: left;
}
.header-p{
text-align: left;
font-size: .8em;
width: 500px;
}
.input{
    position: relative;

    left: 40px;
    top: -5px;
}
main{
    position: absolute;
    width: 483px;
}

@media screen and(min-width:500px) and(max-width:667px) {
    .lupa{

    }  
}
.tec{
    position: relative;
font-size: 1.2em;
padding: 5px;
width: 490px;
    left: -20px;
}
.div{
position: relative;

left: 9px;
}
