@charset "utf-8";

*{
    margin: 0;
padding: 0;
}
header,body,article,header > h1{
    width: 100%;
}
hr{
    width: 770px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
text-align: justify;
width: 100%;
background-color: rgb(255, 255, 255);
    
}
header{
 margin: 0;
    padding: 0;
    color: rgb(238, 238, 238);
    background-color: #4492DF;
    padding: 12px;
  margin-top: -5px;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.307);
}
header > h1{
    margin-left: 65px;
    font-size: 2.4em;
    margin-bottom: 20px;
}
span#lupa{
position: relative;

left: 800px;
}
span#lupa:hover{
    cursor: pointer;
}
.input{
 position: relative;

 left: 808px;
 top: -4px;
 border-radius: 5px;
 padding: 3px;
 width: 180px;
}
.img-glob{
   width: 50px;
   height: 50px;
}


menu > a{
    position: absolute;

    left: 190px;
    top: 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: .9em;
}
menu > a:hover{
 color: rgba(255, 255, 255, 0.808);
 text-decoration:  overline 3px solid orangered ;
transition-duration: 1s;
animation: backwards;
}

  
  /* The element to apply the animation to */

.curio{
    position: absolute;

    left: 900px;
}
.mundo{
    position: absolute;
    left: 750px;
}
.cien{
    position: absolute;
    left:550px;
}
.hist{
    position: absolute;
    left: 450px;
}
.viag{
    position: absolute;

    left: 350px;
}
main{
    background-color: rgb(243, 230, 212);
    width: 815px;
    margin: auto;
}
article{
    text-align: center;
    padding: 10px;
}
.pala > a{
    background-color: #3372AC;
    color: white;
    width: 120px;
    font-size: .7em;
    border-radius: 3px;
    text-decoration: none;
   
}
.bil{
    width: 700px;
    height: 500px;
    overflow: hidden;
    overflow: hidden;
    border: 2px solid #000;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    cursor: pointer;
}

.bil:hover{
 box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.426);

}
.bil::selection{
background-color: black;
}

.tec{
position: relative;
    font-size: 1em;
    font-weight: normal;
    line-height: 25px;
width: 500px;
   left: 136px;

}
div{
    position: relative;
    width: 600px;
    text-align: justify;

    left: 370px;
}
div > h2{
    position: relative;

    left: 165px;

}
.div{
    position: relative;
    width: 440px;
    text-align: center;
    left: 160px;
}
.his{
    position: relative;
    left: -10px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48}
    .maxSize {
        height: 70%;
        width: 70%;
    }
    