@charset "utf-8";

*{
    margin: 0;
padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
text-align: justify;
width: 100%;
background-color: rgb(255, 255, 255);
    
}
header{
 margin: 0;
    padding: 0;
    color: rgb(238, 238, 238);
    background-color: #4492DF;
    padding: 12px;
  margin-top: -5px;
}
header > h1{
    margin-left: 65px;
    font-size: 2.4em;
    margin-bottom: 20px;
}
span#lupa{
position: relative;

left: 800px;
}
span#lupa:hover{
    cursor: pointer;
}
.input{
 position: relative;

 left: 808px;
 top: -4px;
 border-radius: 5px;
 padding: 3px;
 width: 200px;
}
.img-glob{
   width: 50px;
   height: 50px;
}


menu > a{
    position: absolute;

    left: 190px;
    top: 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: .9em;
}
 menu > a:hover{
    color: rgba(255, 255, 255, 0.808);
    text-decoration:  overline 3px solid orangered ;
   transition-duration: 1s;
   animation: backwards;
}
.curio{
    position: absolute;

    left: 900px;
}
.mundo{
    position: absolute;
    left: 750px;
}
.cien{
    position: absolute;
    left:550px;
}
.hist{
    position: absolute;
    left: 450px;
}
.viag{
    position: absolute;

    left: 350px;
}
main{
    background-color: rgb(243, 230, 212);
    width: 800px;
    margin: auto;
}
article{
    padding: 10px;
    text-align: center;
}
.pala > a{
    background-color: #3372AC;
    color: white;
    width: 120px;
    font-size: .7em;
    border-radius: 3px;
    text-decoration: none;
   
}
.comp-1{
    width: 600px;
    height: 600px;
}
.font{
    position: relative;
    background-color: hsla(0, 0%, 90%, 0.707);
    top: -20px;
    padding-left: 240px;
    padding-right: 240px;
}
.fonts{
    position: relative;
    background-color: #FFFFFF;
    top: -4px;
    padding-left: 267px;
    padding-right: 267px;
    border-radius: 0px 0px 10px 10px;
}
.comp-img{
margin: auto;
width: 500px;
height: 500px;
}
.comp{
   line-height: 20px;
width: 500px;
}
.comp2{
    text-align: justify;
    width: 740px;
}
.img-comp{
    position: absolute;
    width: 200px;
    height: 100px;

    left: 820px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.363);
}
.comp3{
    width: 600px;
   margin: auto;
   line-height: 20px;

}
.aling{
    margin: auto;
    text-align: center;
}
h2{
    color: #383838;
}
aside{
    position: relative;
list-style-position: inside;

}
.li1{
text-align: left;

}

.li2{
    text-align: left;

}
.li3{
    text-align: left;

}
.li4{
    text-align: left;

}
.li5{
    text-align: left;

}
.li6{

    text-align: left;
}
.li7{
    text-align: left;

}
.letra{
    color: #343A40;
}
.letra1{
    font-size: 1.8em;
}
.i{
width: 655px;
}
.m{
width: 655px;
}
.g{
    width: 655px;
}
.historia{
    width: 655px;
}
.computador{
    width: 655px;
}
.ibm{
    text-align: justify;
    line-height: 20px;
}

